.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #367fa9;
  color: white;
  text-align: center;
}

// a {
//   text-decoration: none;
//   color: white;
// }

// a:hover,
// a:active {
//   color: lightgray;
// }

// .nav-caption {
//   display: inline-block;
//   padding-left: 6px;
// }
